/* Reset e Estilos Básicos */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

:root {
    --purple-soft: #9b59b6;
    --gray-light: #b3b3b3;
    --gray-dark: #333;
}

html {
    scroll-behavior: smooth; /* Suaviza a rolagem */
}

body, html {
    height: 100%;
}

body {
    overflow-x: hidden;
    background-color: #f4f4f4; /* Fundo claro minimalista */
}

/* Estilo do Cabeçalho Principal */
.hero-header {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background: var(--gray-dark); /* Fundo cinza escuro */
}

.wrapper {
    width: 1280px;
    max-width: 95%;
    margin: 0 auto;
    padding: 0 20px;
}

/* Estilo do Cabeçalho e Navegação */
header {
    padding: 40px 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
    color: #fffefe;
    position: relative;
    overflow: hidden;
}

.logo i {
    height: 45px;
    width: 45px;
    background-color: var(--purple-soft); /* Roxo suave */
    border-radius: 50%;
    color: #fff;
    font-weight: 700;
    font-size: 1.5rem;
    padding: 10px;
    margin-right: 5px;
    cursor: pointer;
    text-align: center;
}

.logo-text {
    font-size: 24px;
    font-weight: 500;
    color: var(--gray-light); /* Cinza claro */
    display: inline-block; /* Exibe como bloco inline */
    opacity: 0; /* O texto começa invisível */
    transform: translateY(-10px); /* O texto começa deslocado para cima */
    transition: opacity 0.6s ease, transform 0.6s ease; /* Transições suaves */
}

.logo:hover .logo-text {
    opacity: 1; /* Torna o texto visível */
    transform: translateY(0); /* Move o texto para a posição original */
}

/* Botão de Alternância e Links de Navegação */
nav .togglebtn {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 45px;
    right: 3%;
    z-index: 5;
    cursor: pointer;
    display: none;
}

/* Botão sobre mim */
.circlebutton {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px; /* Ajuste conforme necessário */
    height: 100px; /* Ajuste conforme necessário */
    border-radius: 100%;
    background-color: #343434; /* Cor de fundo */
    color: white; /* Cor do texto */
    font-size: 15px; /* Tamanho da fonte */
    text-align: center;
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    overflow: hidden; /* Garante que o preenchimento não saia do botão */
    transition: background-color 0.4s, transform 0.4s; /* Transição suave para cor e transformação */
    will-change: background-color, transform; /* Para melhor performance */
}

.circlebutton:hover {
    background-color: var(--purple-soft); /* Cor ao passar o mouse */
    transform: scale(1.2); /* Aumenta o tamanho em 10% */
}

.circlebutton:active {
    transform: scale(0.9); /* Efeito de clique */
}

nav .togglebtn span {
    display: block;
    background-color: var(--purple-soft); /* Roxo suave */
    margin: 5px 0;
    width: 100%;
    height: 3px;
    transition: 0.3s;
    transition-property: transform, opacity;
}

nav .navlinks {
    list-style-type: none;
}

nav .navlinks li {
    display: inline-block;
}

nav .navlinks li a {
    color: var(--gray-light); /* Cinza claro */
    margin-right: 2.5rem;
    transition: color 0.3s;
}

nav .navlinks li a:hover {
    color: var(--purple-soft); /* Roxo suave ao passar o mouse */
}

/* Estilo da Foto perfil */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
}

.container .hero-pic {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    border: 10px solid #555; /* Borda cinza escuro */
    box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.2); /* Sombra discreta */
}

.hero-pic img {
    height: 100%;
    width: 100%;
    transition: 0.8s;
}

.hero-pic img:hover {
    transform: scale(1.1);
}

.hero-text {
    max-width: 400px;
    display: flex;
    flex-direction: column;
}

.hero-text h5 {
    color: var(--gray-light); /* Cinza claro */
    font-size: 14px;
}

.hero-text h5 span {
    color: var(--purple-soft); /* Roxo suave */
    font-size: 16px;
}

.hero-text h1 {
    color: var(--purple-soft); /* Título em roxo suave */
    font-size: 3rem;
}

.hero-text p {
    color: var(--gray-light); /* Texto em cinza claro */
}

/* Botões e Grupos de Botões */
.btn-group {
    margin: 45px 0;
}

.btn-group .btn {
    border-color: #d5d5d5;
    color: #fff;
    background-color: var(--gray-dark);
    padding: 12px 25px;
    margin: 5px 0;
    margin-right: 7px;
    border-radius: 30px;
    border: 2px solid var(--gray-light); /* Borda cinza claro */
    box-shadow: 0 10px 10px -8px rgba(0, 0, 0, 0.2); /* Sombra discreta */
}

.btn.active {
    border-color: var(--purple-soft); /* Borda ativa em roxo suave */
}

/* Ícones de redes sociais */
.hero-text .social i {
    color: var(--gray-light); /* Ícones em cinza claro */
    font-size: 18px;
    margin-right: 10px;
    transition: 0.5s;
}

.hero-text .social i:hover {
    color: var(--purple-soft); /* Cor roxa ao passar o mouse */
    transform: rotate(360deg);
}

/* Design Responsivo */
@media (max-width: 930px) {
    nav .togglebtn {
        display: initial;
    }

    .click {
        top: 45px;
    }

    nav .navlinks {
        position: absolute;
        top: 110px;
        right: -100%;
        bottom: 0;
        width: 60%;
        height: 100vh;
        background-color: var(--gray-dark); /* Fundo cinza escuro */
        z-index: 3;
        box-shadow: 5px 13px 30px rgba(0, 0, 0, 0.1);
        transition: 0.5s;
        padding: 25px 0;
    }

    nav .navlinks li {
        display: block;
    }

    nav .navlinks li a {
        display: block;
        margin-bottom: 15px;
        text-align: center;
    }

    nav .navlinks.open {
        right: 0;
    }
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        padding-top: 2rem;
    }

    .hero-text {
        padding: 40px 0;
    }
}

/* Estilo da seção de habilidades */
.skills-section {
    display: none; /* Oculta a seção inicialmente */
    padding: 60px 20px; /* Adiciona espaço ao redor */
    background-color: #222; /* Fundo da seção */
    color: #e5e5e5; /* Cor do texto */
    text-align: center; /* Centraliza o texto */
}

.skills-container {
    display: flex; /* Exibe em linha */
    justify-content: center; /* Centraliza os itens */
    flex-wrap: wrap; /* Permite que os itens quebrem para a próxima linha */
    gap: 10px; /* Adiciona espaçamento uniforme entre as habilidades */
}

.skill {
    margin: 30px; /* Margem em volta dos itens */
    padding: 20px; /* Padding interno */
    border-radius: 10px; /* Bordas arredondadas */
    background-color: var(--gray-dark); /* Fundo dos itens */
    transition: transform 0.3s ease; /* Suaviza a transição */
    color: var(--gray-light); /* Cor do texto */
    width: 150px; /* Largura fixa */
    height: 200px; /* Ajuste a altura conforme necessário */
    position: relative; /* Para posicionar a descrição */
    display: flex; /* Flex para alinhar conteúdo */
    flex-direction: column; /* Alinha em coluna */
    justify-content: center; /* Centraliza verticalmente */
    align-items: center; /* Centraliza horizontalmente */
    text-align: center; /* Centraliza o texto */
}

/* Estilo dos ícones de habilidades */
.skill i {
    font-size: 50px; /* Aumenta o tamanho do ícone */
    color: var(--purple-soft); /* Define a cor do ícone */
    margin-bottom: 10px; /* Espaço entre o ícone e o texto */
}

/* Estilo do Modal */
.skill-preview {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center;     /* Centraliza verticalmente */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Fundo com opacidade */
    color: white;
    z-index: 1000;
    opacity: 0; /* Definido como invisível inicialmente */
    transition: opacity 0.5s; /* Suaviza a transição de visibilidade */
}

/* Estilo do conteúdo do modal */
.preview-content {
    background: #444;
    padding: 20px;
    border-radius: 10px;
    text-align: center; /* Certifica que o texto está centralizado */
    max-width: 500px;   /* Define uma largura máxima para o modal */
    width: 80%;         /* Controla a largura responsiva do modal */
}

.close-preview {
    cursor: pointer;
    margin-top: 20px;
    color: var(--purple-soft); /* Roxo suave */
}

/* Mostra a descrição ao passar o mouse */
.skill-description {
    display: none; /* Inicialmente oculta */
    opacity: 0; /* Torna invisível */
    transform: translate(-50%, 0); /* Move para a posição original */
    transition: opacity 0.3s ease, transform 0.3s ease; /* Suaviza a transição */
    text-align: center; /* Centraliza o texto */
    margin-top: 10px; /* Espaçamento entre o ícone e a descrição */
}

/* Preloader da Página com Olá */
.preloader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: var(--gray-dark); /* Fundo do preloader */
    color: #fff; /* Cor do texto */
    font-size: 2rem;
    transition: opacity 1s ease;
}

.content {
    display: none; /* Oculta o conteúdo inicialmente */
}

/* Estilos para o Logo e Copyright */
.copyright {
    font-family: fantasy;
    align-items: center; /* Alinha verticalmente */
    display: inline-flex; /* Exibe como flex */
    transition: transform 0.6s ease; /* Transição suave para a rotação */
}

.code-by {
    align-items: center; /* Alinha verticalmente */
    display: inline-flex; /* Exibe como flex */
    transition: opacity 0.4s ease; /* Transição suave para esconder "code by" */
}

.highlight {
    display: inline-flex; /* Exibe como flex */
    align-items: center; /* Alinha verticalmente */
    opacity: 0; /* Começa invisível */
    transition: opacity 0.4s ease; /* Transição suave para mostrar "Luis Carlos" */
    color: #ffffff; /* Cor do destaque */
}

.logo:hover .copyright {
    transform: rotate(360deg); /* Rotaciona ao passar o mouse */
}

.logo-text {
    font-family: 'Dancing Script';
    display: inline-block; /* Exibe como bloco inline */
}

.highlight {
    font-family: 'Dancing Script', cursive; /* Fonte do destaque */
    color: #ffffff; /* Cor branca para "Luis" */
    opacity: 0; /* Começa invisível */
    transform: translateY(-10px); /* Começa deslocado para cima */
    transition: opacity 0.6s ease, transform 0.6s ease; /* Suaviza a animação */
}

.logo:hover .logo-text,
.logo:hover .highlight {
    opacity: 1; /* Torna o texto visível */
    transform: translateY(0); /* Move o texto para a posição original */
}

/* CSS (em style.css) */
.clickable {
    cursor: pointer;
}

/* Spinner */
@keyframes spinner {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  .loader {
    border: 5px solid rgba(0, 0, 0, 0.1);
    border-left-color: #000;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spinner 1s linear infinite;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  
  .section {
    position: relative;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  .section.active {
    opacity: 1;
  }
  /* Estilo do footer */
footer {
    display: none; /* Oculta o footer inicialmente */
    opacity: 0; /* Torna invisível inicialmente */
    transition: opacity 0.5s ease-in-out; /* Suaviza a transição de opacidade */
    background-color: var(--gray-dark); /* Fundo cinza escuro */
    color: var(--gray-light); /* Texto cinza claro */
    padding: 20px 0;
    text-align: center;
    margin-top: 50px;
}

/* Efeito de animação para o footer */
footer.visible {
    display: block; /* Torna o footer visível */
    opacity: 1; /* Torna o footer totalmente visível */
}

/* Estilo para o logo do footer */
.footer-logo {
    font-size: 24px;
    color: var(--gray-light); /* Cinza claro */
    font-family: 'Dancing Script', cursive; /* Aplica a fonte 'Dancing Script' */
    transition: transform 0.3s ease-in-out; /* Suaviza a animação */
}

.footer-logo:hover {
    transform: scale(1.1); /* Aumenta o tamanho do logo quando o mouse passa sobre ele */
}

/* Estilo para os links do footer */
.footer-links a {
    color: var(--gray-light); /* Cinza claro */
    margin: 0 15px;
    transition: color 0.3s;
}

.footer-links a:hover {
    color: var(--purple-soft); /* Roxo suave ao passar o mouse */
}

/* Estilo para os ícones sociais */
.footer-social a {
    margin: 0 10px;
    color: var(--gray-light); /* Cinza claro */
    font-size: 20px;
    transition: color 0.3s;
}

.footer-social a:hover {
    color: var(--purple-soft); /* Roxo suave ao passar o mouse */
}

/* Responsividade */
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
    }

    .footer-links {
        margin: 10px 0;
    }
}
/* Seção de contato */
.contact-section {
    display: block; /* Seção visível por padrão */
    opacity: 0; /* Inicialmente invisível */
    transition: opacity 0.5s ease; /* Transição suave */
    padding: 50px;
    background-color: #1a1a1a;
    color: #fff;
}

/* Quando a seção é acessada via ancoragem (target) */
#contact-section:target {
    opacity: 1; /* Torna a seção visível */
}

/* Estilos da seção de Portfolio */
#portfolio {
    display: none;
    transition: all 0.5s ease-in-out;
}
.portfolio-section {
    padding: 60px 20px; /* Ajusta o padding para adicionar mais espaçamento */
    background-color: #222; /* Fundo escuro, em harmonia com a seção Skills */
    color: #e5e5e5; /* Cor do texto clara para contraste com o fundo escuro */
    text-align: center;
}

.portfolio-description {
    font-size: 1.2rem;
    margin-bottom: 30px;
    color: #e5e5e5; /* Texto em cor clara */
    font-weight: 400;
}

.portfolio-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.portfolio-card {
    width: 300px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Sombra suave */
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.portfolio-card:hover {
    transform: translateY(-5px); /* Efeito de hover com leve elevação */
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15); /* Sombra mais intensa ao passar o mouse */
}

.portfolio-thumbnail {
    width: 100%;
    height: 200px;
    background-color: var(--gray-light); /* Cor de fundo da imagem do projeto */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-bottom: 2px solid var(--gray-dark); /* Linha de separação */
}

.portfolio-thumbnail.loading {
    background-color: var(--purple-soft); /* Cor de fundo enquanto carrega */
    animation: pulse 2s infinite ease-in-out; /* Animação de carregamento */
}

.loading-message {
    font-size: 1.5rem;
    color: #fff; /* Texto branco para destacar sobre o fundo roxo */
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    animation: text-blink 1.5s infinite ease-in-out; /* Efeito de piscar */
}

.portfolio-info {
    padding: 20px;
    font-size: 1rem;
    color: #e5e5e5; /* Texto em cor clara */
}

.portfolio-info h3 {
    font-size: 1.4rem;
    margin-bottom: 10px;
    color: var(--purple-soft); /* Título em roxo suave */
    font-weight: 500;
}

.portfolio-info p {
    color: #e5e5e5; /* Descrição em cor clara */
    font-size: 1rem;
}

/* Efeito de Carregamento */
@keyframes pulse {
    0% {
        background-color: #e0e0e0;
    }
    50% {
        background-color: #ccc;
    }
    100% {
        background-color: #e0e0e0;
    }
}

/* Efeito de "Blink" no texto "Em breve..." */
@keyframes text-blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}
